<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ECShop_mobile</title>
</head>

<body>
<p align='left'>
{if $type eq 'best'}
精品推荐<br/>
--------------<br/>
<a href='goods_list.php?type=promote'>促销</a>|<a href='goods_list.php?type=hot'>热门</a>|<a href='goods_list.php?type=new'>最新</a>
{elseif $type eq 'promote'}
商家促销<br/>
--------------<br/>
<a href='goods_list.php?type=best'>精品</a>|<a href='goods_list.php?type=hot'>热门</a>|<a href='goods_list.php?type=new'>最新</a>
{elseif $type eq 'hot'}
热门商品<br/>
--------------<br/>
<a href='goods_list.php?type=best'>精品</a>|<a href='goods_list.php?type=promote'>促销</a>|<a href='goods_list.php?type=new'>最新</a>
{else}
最新商品<br/>
--------------<br/>
<a href='goods_list.php?type=promote'>促销</a>|<a href='goods_list.php?type=hot'>热门</a>|<a href='goods_list.php?type=new'>最新</a>
{/if}
<br/><br/>
{if $smarty.get.order_price}
当前为价格降序排列，<a href='goods_list.php?type={$smarty.get.type}{if $smarty.get.page}&page={$smarty.get.page}{/if}'>转换成价格升序排列</a>
{else}
当前为价格升序排列，<a href='goods_list.php?type={$smarty.get.type}&order_price=1{if $smarty.get.page}&page={$smarty.get.page}{/if}'>转换成价格降序排列</a>
{/if}<br/><br/>

{foreach from=$goods_data item=goods}
    {$goods.i}.<a href='goods.php?id={$goods.id}'>{$goods.name}</a>[{$goods.price}]<br/>
{foreachelse}
    暂无此类商品<br/>
{/foreach}<br/>
{if $pagebar}
{$pagebar}<br/>
{/if}
--------------<br/>
<a href="javascript:history.back(-1)">回上一页</a><br/>
{if $type eq 'best'}
<a href='goods_list.php?type=promote'>促销</a>|<a href='goods_list.php?type=hot'>热门</a>|<a href='goods_list.php?type=new'>最新</a>
{elseif $type eq 'promote'}
<a href='goods_list.php?type=best'>精品</a>|<a href='goods_list.php?type=hot'>热门</a>|<a href='goods_list.php?type=new'>最新</a>
{elseif $type eq 'hot'}
<a href='goods_list.php?type=best'>精品</a>|<a href='goods_list.php?type=promote'>促销</a>|<a href='goods_list.php?type=new'>最新</a>
{else}
<a href='goods_list.php?type=promote'>促销</a>|<a href='goods_list.php?type=hot'>热门</a>|<a href='goods_list.php?type=new'>最新</a>
{/if}
<br/><a href='index.php'>返回首页</a>
{$footer}
</p>
</body>
</html>