<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ECShop_mobile</title>
</head>

<body>
<p align='left'>
{$goods_info.goods_name}<br/>
--------------<br/>
<img src='./../{$goods_info.goods_img}' alt='{$goods_info.goods_name}' /><br/>
--------------<br/>
<a href="javascript:history.back(-1)">回上一页</a><br/>
<a href='index.php'>返回首页</a>
{$footer}
</p>
</body>
</html>
