<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>faq</title>
<link href="../styles/general.css" rel="stylesheet" type="text/css" />
</head>
<body style="padding:1em;text-align:justify;background: #fff;width:680px;">
Ask锛欴oes the upgrade program depend on the client environment very much?<br />
Answer锛欼n order to prevent the server side timeout, in order to support an unlimited version upgrade, we move "Loop and jumps
" out of the client side 锛宻o your browser should support JavaScript1.5+. This demand simply negligible on the time that the IE7 has released long age and the FF2 is in fashion.<br /><br />

Ask锛歍he version of my ECSHOP is very low, then too big the datasize, does the upgrade program supply "insurance" to these?<br />
Answer锛欼t is no exaggeration to say, this program is custom to you, wo do a lot of work in this respect, please update feel at ease.<br /><br />

Ask锛欼 am a programer锛宨 do some change on the data list structure, can it effect the upgrading?<br />
Answer锛歍he program think about kinds of abnormalities already, even if you change the data list structure, the process of upgrade program also can going fluently. You can take a rest. but, need to emphasize that锛歵he changes youhave done will be covered, and reset as default data list structure of the new ECSHOP.<br /><br />

Ask锛歍he program show that there is alot of wrong clearly, but it goes on upgrading, is it OK?<br />
Answer锛歍o be at ease, there are two ranks of the wrong in the program锛歂OTICE and ERROR. When it is a NOTICE rank wrong, it means there is a wrong happened in the process, but these is tolerable, master program can good running normally. But the ERROR rank wrong is fatal, the program will stop immediately, so as the upgrading process. So, you must deal with the situation according to diffent questions when wrong happens.<br /><br />

Ask锛歐hat can i do when i want to report the wrong in the process of the program to the official as i have forget already?<br />
Answer锛欴on`t worry, all false infomation are recorded in the files under /data/ directory, those are named in the shape of upgrade_xxx.log, and can be opened and browsed by normal editor.<br /><br />

Ask锛歐Hen an interrupt occurs in the process of program锛歜rowser shut illegaly銆乧omputer shut unexpectedly銆乶etwork cut unfortunately銆乻erver just hangs鈥︹€?s there remedial measures锛烖br />
Answer锛歊emedial measures is just to rerun the program. Take it easy!<br /><br />

Ask锛欼 have upgrade to the new release successfully, but i am fault-finding, want to upgrade again, is that ok?<br />
Answer锛欼t is surely, you just change the release number smaller in the table ${prefix}shop_config, and run again銆
</body>
</html>
