<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>faq</title>
<link href="../styles/general.css" rel="stylesheet" type="text/css" />
</head>
<body style="padding:1em;text-align:justify;background: #fff;width:680px;">
闂?細鍗囩骇绋嬪簭瀵瑰?鎴风?鐜??渚濊禆澶у悧锛烖br />
绛旓細涓轰簡闃叉?鏈嶅姟鍣ㄧ?瓒呮椂锛屼负浜嗘敮鎸佹棤闄愮増鏈?崌绾э紝鎴戜滑鎶娾€滃惊鐜?拰璺宠浆鈥濈Щ鍒颁簡瀹㈡埛绔?紝鎵€浠ユ偍鐨勬祻瑙堝櫒搴旇?寰楁敮鎸丣avaScript1.5+銆傚湪IE7宸插彂甯冨?鏃躲€丗F2宸茬洓琛屼簬涓栫殑浠婂ぉ锛岃繖涓??姹傜畝鐩村彲蹇界暐涓嶈?銆侟br /><br />

闂?細鎴戠殑ECSHOP鐨勭増鏈?潪甯镐綆锛屽悓鏃舵暟鎹?噺鍙堥潪甯镐箣澶э紝鍗囩骇绋嬪簭瀵硅繖浜涙彁渚涒€滃畨鍏ㄤ繚闅溾€濆悧锛烖br />
绛旓細姣?笉澶稿紶鍦拌?锛岃繖涓?▼搴忓氨鏄?负鎮ㄨ繖鏍风殑鐢ㄦ埛閲忚韩瀹氬埗鐨勶紝鎴戜滑鑺变簡寰堝?绮惧姏鍦ㄨ繖鏂归潰浣滀簡澶ч噺鐨勬枃绔狅紝璇锋偍瀹夊績鍗囩骇銆侟br /><br />

闂?細鎴戞槸涓€鍚嶇▼搴忓憳锛屼箣鍓嶅?鏁版嵁琛ㄧ粨鏋勪綔浜嗕竴浜涗慨鏀癸紝杩欎細褰卞搷鍗囩骇鍚楋紵<br />
绛旓細绋嬪簭宸茬粡鍏呭垎鑰冭檻浜嗗悇绉嶅悇鏍风殑寮傚父鎯呭喌锛屽嵆浣挎偍淇?敼浜嗘暟鎹?〃缁撴瀯锛屽崌绾ц繃绋嬩粛鐒跺彲浠ユ祦鐣呭湴杩涜?锛屾偍澶у彲浠ラ珮鏋曟棤蹇с€備笉杩囷紝闇€瑕佸己璋冪殑鏄?細鎮ㄤ箣鍓嶆墍浣滅殑淇?敼灏嗚?瑕嗙洊锛屽悓鏃堕噸缃?负ECSHOP鏈€鏂扮殑榛樿?鐨勮〃缁撴瀯銆侟br /><br />

闂?細绋嬪簭鏄庢槑鎶ュ憡璇村崌绾у嚭閿欙紝浣嗗畠杩樼户缁?線鍚庡崌绾э紝杩欎笉浼氭湁浜嬪惂锛烖br />
绛旓細鏀惧績锛岀▼搴忔妸閿欒?鍒嗘垚涓や釜绛夌骇锛歂OTICE绾у拰ERROR绾с€傚彂鐢烴OTICE绾ч敊璇?紝璇存槑绋嬪簭鍦ㄨ繍琛岃繃绋嬩腑鍙戠敓浜嗛敊璇?紝浣嗘槸杩欎簺閿欒?鏄?湪鈥滃彲瀹瑰繊鈥濈殑鑼冨洿涔嬪唴锛岄€氬父涓嶅奖鍝嶄富绋嬪簭鐨勬?甯歌繍琛屻€傝€孍RROR绾ч敊璇?紝涓€鑸?槸鑷村懡鐨勶紝绋嬪簭灏嗙珛鍗冲仠姝㈣繍琛岋紝鍗囩骇杩囩▼涔熷皢寰椾互涓??銆傚洜姝わ紝绋嬪簭鑻ユ槸鍑虹幇閿欒?鎻愮ず锛岃?鏍规嵁鎯呭喌浣滅浉搴旂殑澶勭悊銆侟br /><br />

闂?細鎴戞兂鎶婄▼搴忚繍琛岃繃绋嬩腑鍑虹幇鐨勯敊璇?姤鍛婄粰瀹樻柟锛屼絾鍗村繕璁颁簡锛屽簲璇ユ€庝箞鍔烇紵<br />
绛旓細涓嶈?鎷呭績锛岀▼搴忎細鎶婃墍鏈夌殑閿欒?淇℃伅閮借?褰曞湪/data/鐩?綍搴曚笅鐩稿簲鐨勬枃浠跺綋涓?紝閫氬父浠?pgrade_xxx.log鐨勫舰寮忓懡鍚嶃€傜敤涓€鑸?殑鏂囨湰缂栬緫鍣ㄥ嵆鍙?墦寮€骞舵祻瑙堛€侟br /><br />

闂?細鍗囩骇绋嬪簭鍙戠敓涓?柇锛氭祻瑙堝櫒闈炴硶鍏抽棴銆佺數鑴戠獊鐒舵?鏈恒€佺綉缁滀笉宸ф柇寮€銆佹湇鍔″櫒姝ｅソ鎸傛帀鈥︹€︽湁琛ユ晳鎺?柦鍚楋紵<br />
绛旓細琛ユ晳鎺?嫋灏辨槸閲嶆柊杩愯?鏈?▼搴忥紝鍐嶈繘琛屽崌绾у嵆鍙?€傛偍瀹屽叏娌″繀瑕佸?鍗囩骇杩囩▼鎻愬績鍚婅儐銆佹憚鎵嬫憚鑴氾紝璇锋斁寮€鑳告€€銆佹嫢鎶卞彉鍖栧惂銆侟br /><br />

闂?細鎴戝凡缁忔垚鍔熷崌绾у埌鏈€鏂扮増鏈?紝浣嗘垜闂插緱鍙戞厡锛屾兂閲嶆柊鍗囩骇涓€娆★紝琛屼箞锛烖br />
绛旓細绛旀?鏄?偗瀹氱殑锛屾偍鍙??鎶婂瓨鍌ㄥ湪shop_config琛ㄤ腑鐨勭増鏈?彿鏀逛綆涓€鐐癸紝鍐嶈繍琛屾湰绋嬪簭鍗冲彲銆
</body>
</html>
