<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>faq</title>
<link href="../styles/general.css" rel="stylesheet" type="text/css" />
</head>
<body style="padding:1em;text-align:justify;background: #fff;width:680px;">
问：升级程序对客户端环境依赖大吗？<br />
答：为了防止服务器端超时，为了支持无限版本升级，我们把“循环和跳转”移到了客户端，所以您的浏览器应该得支持JavaScript1.5+。在IE7已发布多时、FF2已盛行于世的今天，这个要求简直可忽略不计。<br /><br />

问：我的ECSHOP的版本非常低，同时数据量又非常之大，升级程序对这些提供“安全保障”吗？<br />
答：毫不夸张地说，这个程序就是为您这样的用户量身定制的，我们花了很多精力在这方面作了大量的文章，请您安心升级。<br /><br />

问：我是一名程序员，之前对数据表结构作了一些修改，这会影响升级吗？<br />
答：程序已经充分考虑了各种各样的异常情况，即使您修改了数据表结构，升级过程仍然可以流畅地进行，您大可以高枕无忧。不过，需要强调的是：您之前所作的修改将被覆盖，同时重置为ECSHOP最新的默认的表结构。<br /><br />

问：程序明明报告说升级出错，但它还继续往后升级，这不会有事吧？<br />
答：放心，程序把错误分成两个等级：NOTICE级和ERROR级。发生NOTICE级错误，说明程序在运行过程中发生了错误，但是这些错误是在“可容忍”的范围之内，通常不影响主程序的正常运行。而ERROR级错误，一般是致命的，程序将立即停止运行，升级过程也将得以中止。因此，程序若是出现错误提示，请根据情况作相应的处理。<br /><br />

问：我想把程序运行过程中出现的错误报告给官方，但却忘记了，应该怎么办？<br />
答：不要担心，程序会把所有的错误信息都记录在/data/目录底下相应的文件当中，通常以upgrade_xxx.log的形式命名。用一般的文本编辑器即可打开并浏览。<br /><br />

问：升级程序发生中断：浏览器非法关闭、电脑突然死机、网络不巧断开、服务器正好挂掉……有补救措施吗？<br />
答：补救措拖就是重新运行本程序，再进行升级即可。您完全没必要对升级过程提心吊胆、摄手摄脚，请放开胸怀、拥抱变化吧。<br /><br />

问：我已经成功升级到最新版本，但我闲得发慌，想重新升级一次，行么？<br />
答：答案是肯定的，您只要把存储在shop_config表中的版本号改低一点，再运行本程序即可。
</body>
</html>
