<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="list-div" id="listDiv">
  <form action="virtual_card.php" method="post">
    <table cellspacing='1' cellpadding='3'>
      <tr>
        <th><input type="checkbox" checked onclick="listTable.selectAll(this, 'checked')" />{$lang.lab_card_id}</th>
        <th>{$lang.lab_card_sn}</th>
        <th>{$lang.lab_card_password}</th>
        <th>{$lang.lab_end_date}</th>
      </tr>
      {foreach from=$list key=key item=card}
      <tr>
        <td><input type="checkbox" name="checked[]" value="{$key}" checked /> {$key}</td>
        <td><input type="text" name="card_sn[{$key}]" value="{$card.card_sn}" size="15" /></td>
        <td><input type="text" name="card_password[{$key}]" value="{$card.card_password}" size="15" /></td>
        <td><input type="text" name="end_date[{$key}]" value="{$card.end_date}" size="15" /></td>
      </tr>
      {/foreach}
      <tr align="center">
        <td colspan="6">
          <input type="hidden" name="goods_id" value="{$smarty.request.goods_id}" />
          <input type="hidden" name="act" value="batch_insert" />
          <input type="submit" name="submit" value="{$lang.button_submit}" />
        </td>
      </tr>
    </table>
  </form>
</div>
{include file="pagefooter.htm"}