<!-- $Id: flow_stats.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<div class="form-div">
  <form action="" method="post" id="selectForm" name="selectForm">
    {$lang.start_date}&nbsp;&nbsp;
    <input name="start_date" value="{$start_date}" style="width:80px;" onclick="return showCalendar(this, '%Y-%m-%d', false, false, this);" />
    {$lang.end_date}&nbsp;&nbsp;
    <input name="end_date" value="{$end_date}" style="width:80px;" onclick="return showCalendar(this, '%Y-%m-%d', false, false, this);" />
    <input type="submit" name="submit" value="{$lang.access_query}" class="button" />
  </form>
    <form action="" method="post" id="selectForm" name="selectForm">
    {$lang.select_year_month}&nbsp;&nbsp;
    <!--{foreach from=$start_date_arr item=start_date key=k}-->
    {if $k > 0}
    &nbsp;+&nbsp;
    {/if}
    <input name="year_month[]" value="{$start_date}" style="width:60px;" onclick="return showCalendar(this, '%Y-%m', false, false, this);" />
    <!--{/foreach}--><input type="hidden" name="is_multi" value="1" />
    <input type="submit" name="submit" value="{$lang.access_query}" class="button" />
  </form>
</div>
<div class="tab-div">
    <!-- tab bar -->
    <div id="tabbar-div">
      <p>
        <span class="tab-front" id="general-tab">{$lang.tab_general}</span><span
        class="tab-back" id="area-tab">{$lang.tab_area}</span><span
        class="tab-back" id="from-tab">{$lang.tab_from}</span>
      </p>
    </div>

    <!-- tab body -->
    <div id="tabbody-div">
        <!-- 综合流量 -->
        <table width="90%" id="general-table">
          <tr><td align="center">
            <!--{if $is_multi eq "0"}-->
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
              codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
              width="565" height="420" id="FCColumn2" align="middle">
              <PARAM NAME="FlashVars" value="&dataXML={$general_data}">
              <PARAM NAME=movie VALUE="images/charts/line.swf?chartWidth=650&chartHeight=400">
              <param NAME="quality" VALUE="high">
              <param NAME="bgcolor" VALUE="#FFFFFF">
              <param NAME="wmode" VALUE="opaque">
              <embed src="images/charts/line.swf?chartWidth=650&chartHeight=400" FlashVars="&dataXML={$general_data}" quality="high" bgcolor="#FFFFFF"  width="650" height="400" name="FCColumn2" wmode="opaque" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
            </object>
            <!--{else}-->
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
              codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
              width="565" height="420" id="FCColumn2" align="middle">
              <PARAM NAME="FlashVars" value="&dataXML={$general_data}">
              <PARAM NAME=movie VALUE="images/charts/MSline.swf?chartWidth=650&chartHeight=400">
              <param NAME="quality" VALUE="high">
              <param NAME="bgcolor" VALUE="#FFFFFF">
              <param NAME="wmode" VALUE="opaque" />
              <embed src="images/charts/MSline.swf?chartWidth=650&chartHeight=400" FlashVars="&dataXML={$general_data}" quality="high" bgcolor="#FFFFFF"  width="650" height="400" name="FCColumn2" wmode="opaque" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
            </object>
            <!--{/if}-->
          </td></tr>
        </table>
        <!-- 地区分布 -->

        <table width="90%" id="area-table" style="display:none">
          <tr><td align="center">
          <!--{if $is_multi eq "0"}-->
            <OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" WIDTH="465" HEIGHT="320" id="General" ALIGN="middle">
              <PARAM NAME="FlashVars" value="&dataXML={$area_data}">
              <PARAM NAME=movie VALUE="images/charts/pie3d.swf?chartWidth=650&chartHeight=400">
              <PARAM NAME=quality VALUE=high>
              <PARAM NAME=bgcolor VALUE=#FFFFFF>
              <param NAME="wmode" VALUE="opaque" />
              <EMBED src="images/charts/pie3d.swf?chartWidth=650&chartHeight=400" FlashVars="&dataXML={$area_data}" quality=high bgcolor=#FFFFFF WIDTH="650" HEIGHT="400" NAME="General" ALIGN="middle"  wmode="opaque" TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"></EMBED>
              </OBJECT>
          <!--{else}-->

              <OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" WIDTH="465" HEIGHT="320" id="General" ALIGN="middle">
                <PARAM NAME="FlashVars" value="&dataXML={$area_data}">
                <PARAM NAME=movie VALUE="images/charts/ScrollColumn2D.swf?chartWidth=650&chartHeight=400">
                <PARAM NAME=quality VALUE=high>
                <PARAM NAME=bgcolor VALUE=#FFFFFF>
                <param NAME="wmode" VALUE="opaque" />
                <EMBED src="images/charts/ScrollColumn2D.swf?chartWidth=650&chartHeight=400" FlashVars="&dataXML={$area_data}" quality=high bgcolor=#FFFFFF WIDTH="650" HEIGHT="400" NAME="General"  wmode="opaque" ALIGN="middle" TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"></EMBED>
                </OBJECT>
          <!--{/if}-->
          </td></tr>
        </table>

        <!-- 来源网站 -->
        <table width="90%" id="from-table" style="display:none">
          <tr><td align="center">
          <!--{if $is_multi eq "0"}-->
          <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
           codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
           width="465" height="320" align="middle">
              <PARAM NAME="FlashVars" value="&dataXML={$from_data}">
              <PARAM NAME=movie VALUE="images/charts/pie3d.swf?chartWidth=650&chartHeight=400">
              <PARAM NAME=quality VALUE="high">
              <PARAM NAME=bgcolor VALUE="#FFFFFF">
              <PARAM NAME="wmode" VALUE="opaque" />
              <embed src="images/charts/pie3d.swf?chartWidth=650&chartHeight=400" FlashVars="&dataXML={$from_data}" quality="high" bgcolor="#FFFFFF"  width="650" height="400" wmode="opaque" align="middle"
           type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
              </embed>
            </object>
          <!--{else}-->
                 <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
             codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
             width="465" height="320" align="middle">
                <PARAM NAME="FlashVars" value="&dataXML={$from_data}">
                <PARAM NAME=movie VALUE="images/charts/ScrollColumn2D.swf?chartWidth=650&chartHeight=400">
                <param name=quality value="high">
                <param name=bgcolor value="#FFFFFF">
                <param name="wmode" value="opaque" />
                <embed src="images/charts/ScrollColumn2D.swf?chartWidth=650&chartHeight=400" FlashVars="&dataXML={$from_data}" quality="high" bgcolor="#FFFFFF"  width="650" height="400" align="middle" wmode="opaque"
             type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
                </embed>
                </object>
          <!--{/if}-->
          </td></tr>
        </table>
    </div>
</div>


{insert_scripts files="tab.js"}


<script type="Text/Javascript" language="JavaScript">
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
//-->

</script>


{include file="pagefooter.htm"}