<!-- $Id: order_templates.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<form action="order.php" method="post">
<div class="main-div">
    <table width="100%">
     <tr><td>{$fckeditor}</td></tr>
    </table>
    <div class="button-div ">
    <input type="hidden" name="act" value="{$act}" />
    <input type="submit" value="{$lang.button_submit}" class="button" />
  </div>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}