<!-- $Id: privilege_allot.htm 16970 2010-01-08 08:52:36Z liuhui $ -->
{include file="pageheader.htm"}
<form method="POST" action="privilege.php" name="theFrom">
<div class="list-div">
<table cellspacing='1' id="list-table">
{foreach from=$priv_arr item=priv}
 <tr>
  <td width="18%" valign="top" class="first-cell">
    <input name="chkGroup" type="checkbox" value="checkbox" onclick="check('{$priv.priv_list}',this);" class="checkbox">{$lang[$priv.action_code]}
  </td>
  <td>
    {foreach from=$priv.priv key=priv_list item=list}
    <div style="width:200px;float:left;">
    <label for="{$priv_list}"><input type="checkbox" name="action_code[]" value="{$priv_list}" id="{$priv_list}" class="checkbox" {if $list.cando eq 1} checked="true" {/if} onclick="checkrelevance('{$list.relevance}', '{$priv_list}')" title="{$list.relevance}"/>
    {$lang[$list.action_code]}</label>
    </div>
    {/foreach}
</td></tr>
{/foreach}
  <tr>
    <td align="center" colspan="2" >
      <input type="checkbox" name="checkall" value="checkbox" onclick="checkAll(this.form, this);" class="checkbox" />{$lang.check_all}
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="submit"   name="Submit"   value="{$lang.button_save}" class="button" />
      <input type="hidden"   name="id"    value="{$user_id}" />
      <input type="hidden" name="token" value="{$token}" />
      <input type="hidden"   name="act"   value="{$form_act}" />
    </td>
  </tr>
</table>
</div>
</form>

{literal}
<script language="javascript">
function checkAll(frm, checkbox)
{
  for (i = 0; i < frm.elements.length; i++)
  {
    if (frm.elements[i].name == 'action_code[]' || frm.elements[i].name == 'chkGroup')
    {
      frm.elements[i].checked = checkbox.checked;
    }
  }
}

function check(list, obj)
{
  var frm = obj.form;

    for (i = 0; i < frm.elements.length; i++)
    {
      if (frm.elements[i].name == "action_code[]")
      {
          var regx = new RegExp(frm.elements[i].value + "(?!_)", "i");

          if (list.search(regx) > -1) frm.elements[i].checked = obj.checked;
      }
    }
}

function checkrelevance(relevance, priv_list)
{
  if(document.getElementById(priv_list).checked && relevance != '')
  {
    document.getElementById(relevance).checked=true;
  }
  else
  {
    var ts=document.getElementsByTagName("input");
    
    for (var i=0; i<ts.length;i++)
    {
      var text=ts[i].getAttribute("title");

      if( text == priv_list) 
      {
        document.getElementById(ts[i].value).checked = false;
      }
    }
  }
}
</script>
{/literal}
{include file="pagefooter.htm"}
