<!-- $Id: role_info.htm 14216 2010-01-08 02:27:21Z liuhui $ -->
{include file="pageheader.htm"}
<form method="POST" action="role.php" name="theFrom">
<div class="list-div">
<table width="100%">
  <tr>
    <td class="label">{$lang.user_name}</td>
    <td>
      <input type="text" name="user_name" maxlength="20" value="{$user.role_name|escape}" size="34"/>{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label">{$lang.role_describe}</td>
    <td>
    <textarea name="role_describe" cols="31" rows="6">{$user.role_describe|escape}</textarea>
{$lang.require_field}</td>
  </tr>
  </table>
<table cellspacing='1' id="list-table">
{foreach from=$priv_arr item=priv}
 <tr>
  <td width="18%" valign="top" class="first-cell">
    <input name="chkGroup" type="checkbox" value="checkbox" onclick="check('{$priv.priv_list}',this);" class="checkbox">{$lang[$priv.action_code]}
  </td>
  <td>
    {foreach from=$priv.priv key=priv_list item=list}
    <div style="width:200px;float:left;">
    <label for="{$priv_list}"><input type="checkbox" name="action_code[]" value="{$priv_list}" id="{$priv_list}" class="checkbox" {if $list.cando eq 1} checked="true" {/if} onclick="checkrelevance('{$list.relevance}', '{$priv_list}')" title="{$list.relevance}"/>
    {$lang[$list.action_code]}</label>
    </div>
    {/foreach}
</td></tr>
{/foreach}
  <tr>
    <td align="center" colspan="2" >
      <input type="checkbox" name="checkall" value="checkbox" onclick="checkAll(this.form, this);" class="checkbox" />{$lang.check_all}
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="submit"   name="Submit"   value="{$lang.button_save}" class="button" />&nbsp;&nbsp;&nbsp;
      <input type="reset" value="{$lang.button_reset}" class="button" />
      <input type="hidden"   name="id"    value="{$user_id}" />
      <input type="hidden"   name="act"   value="{$form_act}" />
    </td>
  </tr>
</table>
</div>
</form>

{literal}
<script language="javascript">
function checkAll(frm, checkbox)
{
  for (i = 0; i < frm.elements.length; i++)
  {
    if (frm.elements[i].name == 'action_code[]' || frm.elements[i].name == 'chkGroup')
    {
      frm.elements[i].checked = checkbox.checked;
    }
  }
}

function check(list, obj)
{
  var frm = obj.form;

    for (i = 0; i < frm.elements.length; i++)
    {
      if (frm.elements[i].name == "action_code[]")
      {
          var regx = new RegExp(frm.elements[i].value + "(?!_)", "i");

          if (list.search(regx) > -1) {frm.elements[i].checked = obj.checked;}
      }
    }
}

function checkrelevance(relevance, priv_list)
{
  if(document.getElementById(priv_list).checked && relevance != '')
  {
    document.getElementById(relevance).checked=true;
  }
  else
  {
    var ts=document.getElementsByTagName("input");
    
    for (var i=0; i<ts.length;i++)
    {
      var text=ts[i].getAttribute("title");

      if( text == priv_list) 
      {
        document.getElementById(ts[i].value).checked = false;
      }
    }
  }
}
</script>
{/literal}
{include file="pagefooter.htm"}
